html, body { 
    margin:0;
}
#imagemfundo{
    background: url(Imagem/FUNDO2.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
}
body { 
    background-color: #E05780;
    border-top: 0px;
}
#título {
     color: white; 
     font-size: 70px;
     font-family: Verdana; 
     margin: 0px;
     padding-top: 300px;
}
#subtítulo {
    color: white; 
    font-size: 30px;
}
#siteONU {
    font-size: 30px;
    font-family: 'barlow condensed';
    color: white;
    margin: 0px;
    font-weight: normal;
    border: 2px white solid;
    padding: 10px 20px 
}
#cabeçalho {
    font-size: 40px;
    display: block;
    font-weight: bold;
    padding-top: 25px;
    font-family: Arial;
}
#corfundo {
    background-color: #FFE0E9;
    height: 650px;
}
#corfundo1 {
    background-color: #FFC2D4;
    height: 600px;
}
#paragrafo {
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans Unicode';
    padding-bottom: 10px;
}
#denuncia {
    background-color: #E05780;
    height: 300px;
    font-size: 20px;
    font-family: 'Lucida Sans Unicode';
}
#OqTH {
    padding-top: 8px;
}


